results.txt
runner
*.sw*
*0
*Debug*
*Release*
*DebugStatic*
*ReleaseStatic*
*ipch*
*.user
*.opensdf
*.sdf
*.suo
*~
a.out
a.exe
*.libs*
*.la
*.deps*
*.dirstamp*
*.lo
*.o
*.a
*.la
Makefile.in
config.guess
config.log
config.status
config.sub
configure
*AUTHORS*
*COPYING*
*ChangeLog*
*INSTALL*
*NEWS*
*README*
*aclocal.m4*
*ar-lib*
*autom4te.cache*
*config.h.in*
*depcomp*
*install-sh*
*libtool*
*ltmain.sh*
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
*missing*
*stamp-h1*
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
*.pyc
*.idea
compile
valgrind.xml
x64/
Win32/
debug/
release/
unit_test_*
filters*
a.out
.deps/*
.suo
*.la*
*.swp
*.orig
*.vcxproj*
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
build/tests/
config.h
Makefile
test-driver
*.log
*.trs
*.Po
*.Plo
tests/check_x11_display
tests/check_x11_render_system
*.dirstamp
*.Plo
